:root {
  --background-header: #d2d8dc;
  --background-header_menu: #fff;
  --background-header_burger: #2a2828;

  --background-body: #e9ecee;
  --background-card: #fff;
  --background-footer: #a5abad;

  --color-text_primary: #000;
  --color-text_secondary: #4b4a4a;
  --color-text__link_active: #65a3c9;

  --toggle-bg: #fff;
  --toggle-icon: #000;
}

[data-theme='dark']{
  --background-header: #005dab;
  --background-header_menu: #989595;
  --background-header_burger: #fff;


  --background-body: rgb(17 24 39);
  --background-card: #282c34;
  --background-footer: rgb(28 39 63);

  --color-text_primary: #fff;
  --color-text_secondary: #000;
  --color-text__link_active: #aac4ec;

  --toggle-bg: #000;
  --toggle-icon: #fff;
}

//text fonts
$font-size-s: 1.2rem;
$font-size-m: 1.8rem;
$font-size-l: 2.8rem;

//media query
$tablet-size: 728px;
$desktop-size: 1200px;