@import "src/styles/styles";
.item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 20px 0;
  border-bottom: .2px solid #3a3a3a;
  align-items: center;
  color: $color-text-white;

  img {
    width: 35px;
    height: 60px;
    background-color: lightblue;
    margin-left: 20px;
  }

  div {
    padding-left: 25px;
    align-self: end;
    h3 {
      font-size: 1.8rem;
      letter-spacing: -1px;
      margin-bottom: 10px;
    }
    ul {
      display: flex;
      font-size: 1.6rem;
      li {
        margin-right: 25px;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
  button {
    align-self: end;
    margin-right: 40px;
  }
}